// iOS-style green button confirmation
$action-green: #4cd964;
$action-blue: $secondary-blue;

// setting default limeade color classes
.brandingBckgrndColor {
   background-color: $logo-red;
}
.link-color {
   color: $logo-red;
}
