//
.textbox {
  font: 13px $font;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  border-radius: 2px;
  padding: 3px 4px;

  &:focus { outline: none; border: 1px solid $text-gray; }
  &.large { font-size: 18px; }
}


.textbox-points {
  font: 13px $font;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  border-radius: 2px;
  padding: 3px 4px;
  width: 45px;

  &:focus { outline: none; border: 1px solid $text-gray; }
  &.large { font-size: 18px; }
}
